.popup__button-save {
  margin-top: 55px;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.popup__button-save:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 387px) {
  .popup__button-save{
    margin-top: 45px;
  }
  
}