.card__like_button_active {
  background: transparent;
  background-image: url('../../../../images/corazon_activo.svg');
  border: none;
  height: 19px;
  width: 30px;
  background-repeat: no-repeat;
}

.card__like_button_active:hover {
  cursor: pointer;
  opacity: .5;
}